################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetCoreWebApi
/DotNetCoreWebApi/bin/Debug/net8.0
/DotNetCoreWebApi/obj
